/* your code */
table{
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
}
td, th {
	width : 150px;
	padding: 8px;
}
th{
	background-color: red;
	color: white;
}
tr:nth-child(even){background-color: #f2f2f2;}